body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}



nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}


nav a{
    text-decoration: none;
    color: #474747;
}


.header {
    background-color: #FFF8F3;
}

.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

.banner-greeting{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    color: #181818;
    font-size: 85px;
    font-weight: 700;
}

.banner p{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
}

.banner img{
    width: 500px;
}
